# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
*.ipr

# Mac
.DS_Store

# Maven
log/
target/

#vagrant
.vagrant
#vendor
talentica.dev/vendor
#.htaccess
talentica.dev/public/\.htaccess*
#nginx default html folder
html
#database
talentica.dev/app/database/*.sqlite
